<tui-tabs [(activeItemIndex)]="activeItemIndex">
    <button
        iconStart="@tui.credit-card"
        tuiTab
        type="button"
        routerLink="/home" routerLinkActive="router-link-active" 
    >
        Home
    </button>
    <button
        iconStart="@tui.phone"
        tuiTab
        type="button"
        routerLink="/characters" routerLinkActive="router-link-active" 
    >
        Characters
    </button>
    <button
        iconStart="@tui.settings"
        tuiTab
        type="button"
        routerLink="/locations" routerLinkActive="router-link-active" 
    >
        Locations
    </button>
     <button
        iconStart="@tui.settings"
        tuiTab
        type="button"
        routerLink="/episodes" routerLinkActive="router-link-active" 
    >
        Episodes
    </button>
</tui-tabs>



