tui-tabs{
    float:right;
    padding: 1rem 1rem 1rem 1rem;
    color: white;
    text-shadow: 2px 2px 110px white;
    background: none;
    margin-bottom: .5rem;
}

button:hover{
   color: #61892F;
}